
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo1.gif') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />
        <!-- Link de librerias y CSS-->
        {% block stylesheets %}

            {% do assets.addCss("https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css", 98) %}
            {% do assets.addCss('theme://css/estiloshome.css', 96) %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">        {{ assets.css() }}
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/5.3.5/sweetalert2.min.css">

        {% endblock %}

    {% endblock head%}

</head>

{% block body %}
    <body id="body">
    <header class="sans-serif">
        <div class="cover bg-left bg-center-l" style="background-image: url(https://www.ohiohealth.com/siteassets/find-a-service/orthopedic/ohiohealth-orthopedics_home-robust-primary-teaser.jpg)">
            <div class="bg-black-80 pb5 pb6-m pb7-l">
                <nav class="dt w-100 mw8 center">

                        <div class="dtc v-mid tr pa3">
                            <div class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3">
                                 <h4 class="white">943 83 58 83</h4>
                            </div>
                            <i class="fas fa-phone white"></i>
                        </div>

                    <div class="dtc v-mid tr pa3">
                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >Inicio</a>
                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="#servicios" >Servicios</a>
                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >About</a>
                        <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >Ubicacion</a>
                        <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="#form-contacto" >Contacto</a>
                    </div>
                </nav>
                <div class="tc-l mt4 mt5-m mt6-l ph3">
                    <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ page.header.title }}</h1>
                    <h2 class="fw1 f3 white-80 mt3 mb4">{{ page.header.description }}</h2>
                    <a id="call1" class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="#servicios">Nuestros Servicios</a>

                </div>
            </div>
        </div>
    </header>


   <!-- <header class="bg-blue black-80 tc pv4 avenir" style="background-color: #5bc0de">
        <img src="{{ url('theme://images/logo1.gif') }}">

        <h2 class="mt2 mb0 f6 fw4 ttu tracked">{{ page.header.description }}</h2>
        <nav class="bt bb tc mw7 center mt4">
            <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="">Inicio</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="#servicios">Servicios</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="#app">Ubicacion</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="#form-contacto">Contacto</a>
        </nav>

    </header> -->


    <a href="#" class="scrollToTop"></a>
        <!-- Layout principar creado con HTML y CSS-->
        <article id="layout2"  style="height: 460px">

            <article class="cf pa3 mw9 center bg-near-gray" style="height: 670px">
                <div class="fl w-100">
                    <h2 id="servicios" class="tc black">

                        {{ page.header.services }}

                    </h2><br>
                    <h3></h3>
                    <div class="myWrapper"></div>
                </div>
                <section class="fl w-100">
                    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
                        <div class="tc ml-100"><i class="fas fa-hands-helping fa-5x text-primary blue" aria-hidden="true"></i></div>
                        <p class="b f4 tc orange">{{ page.header.repare }}</p>

                        <p class="f6 lh-copy measure tc">{{ page.header.reparedescrip }}</p>
                    </div>
                    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
                        <div class="tc ml-100"><i class="fas fa-shopping-cart fa-5x text-primary blue" aria-hidden="true"></i></div>
                        <p id="txt-tienda" class="b f4 tc orange">{{ page.header.shop }}</p>
                        <p class="f6 lh-copy measure tc">
                            {{ page.header.shopdescrip }}
                        </p>
                    </div>
                    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
                        <div class="tc ml-100"><i class="fas fa-paper-plane fa-5x text-primary blue" aria-hidden="true"></i></div>
                        <div id="asesoramiento"> <p class="b f4 tc orange">{{ page.header.support }}</p></div>
                        <div id="asesoramiento2"><p class="f6 lh-copy measure tc">{{ page.header.supportdescrip }}</p></div>
                    </div>
                    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
                        <div class="tc ml-100"><i class="fa fa-map-marker fa-5x text-primary blue" aria-hidden="true"></i></div>
                        <p class="b f4 tc orange">{{ page.header.shop2 }}</p>
                        <p class="f6 lh-copy measure tc">
                            {{ page.header.shopdescrip2 }}
                        </p>
                    </div>

                </section>

                <div id="hello">Hello</div>
                <hr/>
                <div id="world">Hello</div>


                <!-- efecto parallax

                <div class="parallax" style="min-height:400px; ">

                    <div id="parallaxtext" ></div>
                </div>
                 -->




            </article>
        </article>

        <article id="layout-contacto" >
            <div id="tienda"  class="tc baskerville f1 lh-title" style="min-height:400px;"> <p class="dib v-mid black" id="compra_btn">{{ page.header.calltoaction }}</p><br><div class="tc baskerville f3 lh-copy" ><p class="dib v-mid orange">{{ page.header.calltoaction2 }}</p><br>
            <!-- <div class="button raised hoverable">
                <div class="anim"></div><span class="f3 b helvetica">Hover!</span>
            </div> -->
                   <a href="#" class="btn" >
                       <span class="btn-content">Compra</span>

                       <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                   </a>


               </div>
           </div>
            <br/>
            <div id="hola"></div>
            <hr/>
            <div id="mundo">Hello</div>


            <br/>
            <div id="form-contacto" class=" bg-ligth-blue br-pill">
            <div class="pa4 black-80">
                <form class="measure center">
                    <fieldset  class="ba b--transparent ph0 mh0">
                        <legend class="f4 fw6 ph0 mh0">{{ page.header.form1 }}</legend>
                        <div class="mt3">
                            <label class="db fw6 lh-copy f6" >{{ page.header.form2 }}</label>
                            <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="name"  id="nombre">
                        </div>
                        <div class="mv3">
                            <label class="db fw6 lh-copy f6">{{ page.header.form3 }}</label>
                            <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="email" name="email"  id="email-address">
                        </div>
                        <div class="mv3">

                            <label for="comment" class="f6 b db mb2">{{ page.header.form4 }} <span class="normal black-60">(opcional)</span></label>
                            <textarea id="comment" name="comment" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"></textarea>

                        </div>

                            <input id="enviar" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button" value="Enviar">
                    </fieldset>
                </form>
            </div>
            </div>
        </article>
        {% block footer %}
            <footer class="pv4 ph3 ph5-m ph6-l mid-gray" style="background-color: #5bc0de">

                <small class="f6 db tc">©{{page.header.year}} <b class="ttu">{{page.title}}</b>, Todos los derechos reservados</small>
                <div class="tc mt3">
                    <div class="">Creado por: <a class=" f6 dib ph2 link mid-gray dim ttu" href="https://www.instagram.com/jzzulaika">Julen Zulaika </a></div>

                </div>
            </footer>

        {% endblock %}
        <!-- Scripts de JS-->

        {% block javascripts %}
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <!-- Sweet Alert -->
            <script src="https://cdn.jsdelivr.net/sweetalert2/5.3.5/sweetalert2.min.js"></script>
        {% endblock %}
        <script >
            $(document).ready(function() {
                $("#enviar").click(function() {
                    swal("Gracias!", "Su mensaje sera leído!", "success");
                });

                $("#call1").on('click', function(event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function(){

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
                //Check to see if the window is top if not then display button
                $(window).scroll(function(){
                    if ($(this).scrollTop() > 100) {
                        $('.scrollToTop').fadeIn();
                    } else {
                        $('.scrollToTop').fadeOut();
                    }
                });

                //Click event to scroll to top
                $('.scrollToTop').click(function(){
                    $('html, body').animate({scrollTop : 0},800);
                    return false;
                });
            });


        </script>



        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
    </body>
{% endblock %}

</html>
